:root {
    --primary-green: #2ecc71;
    --dark-green: #27ae60;
    --light-green: #2ecc71;
    --background-soft-green: #e8f5e9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-soft-green);
}

main {
    flex: 1;
}

.navbar {
    background-color: var(--primary-green) !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.nav-link.active {
    font-weight: bold;
}

h1,
h3 {
    color: var(--dark-green);
}

footer {
    background-color: var(--dark-green);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.about-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li:before {
    content: '✔';
    color: var(--primary-green);
    margin-right: 10px;
}

.img-container {
    transition: transform 0.3s ease;
}

.img-container:hover {
    transform: scale(1.03);
}