:root {
    --primary-green: #2ecc71;
    --dark-green: #27ae60;
    --light-green: #2ecc71;
    --background-soft-green: #e8f5e9;
}

body {
    background-color: var(--background-soft-green);
}

#success-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    transition: opacity 0.5s ease-in-out;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-green);
    color: white;
    font-weight: bold;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-header {
    background-color: var(--primary-green);
    color: white;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.form-control, .form-select {
    border-radius: 8px;
    border-color: #ced4da;
    transition: all 0.3s ease;
    padding: 12px;
}

.form-control:focus, .form-select:focus {
    border-color: var(--primary-green);
    box-shadow: 0 0 0 0.2rem rgba(46, 204, 113, 0.25);
}

.btn-success {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    font-weight: 600;
}

.btn-success:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

.btn-secondary {
    background-color: #95a5a6;
    border-color: #95a5a6;
    font-weight: 600;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
}

/* Melhorando o alinhamento dos ícones */
.form-label i {
    margin-right: 8px;
    color: var(--dark-green);
}